# OS
.DS_Store
Thumbs.db

# VCS
.git/
.gitignore
.gitattributes

# Helm
.helmignore

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Temporary files
*.orig
*.rej
*.swp
*.tmp

# Logs
*.log

# CI / misc
*.bak
