# SPDX-License-Identifier: Apache-2.0
# OS
.DS_Store
Thumbs.db

# VCS
.git/
.gitignore
.gitattributes

# Helm
.helmignore
Chart.lock

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Temporary files
*.orig
*.rej
*.swp
*.tmp
package-lock.json
yarn.lock
pnpm-lock.yaml
Pipfile.lock
poetry.lock
Gemfile.lock

# Logs
*.log

# CI / misc
*.bak
