# SPDX-License-Identifier: Apache-2.0
# OS
.DS_Store
Thumbs.db

# VCS
.git/
.gitignore
.gitattributes

# Helm
.helmignore

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Temporary files
*.orig
*.rej
*.swp
*.tmp

# Lock files
package-lock.json
yarn.lock
Pipfile.lock
poetry.lock

# Logs
*.log

# CI / misc
*.bak
