# OS
.DS_Store
Thumbs.db

# VCS
.git/
.gitignore
.gitattributes

# Helm
.helmignore
Chart.lock

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# Temporary files
*.orig
*.rej
*.swp
*.tmp

# Logs
*.log

# CI / misc
*.bak

# Lock files (application package managers)
package-lock.json
yarn.lock
Pipfile.lock
poetry.lock
